body{
    margin : 0;
}
header{
    /* width: fit-content; */
    background-color:rgba(128, 128, 128, 0.719);
    text-align: center;
    align-items: center;
    color: ivory;   
    margin: auto;   
    padding: 45px ;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headerImg {
    width: 50px;
    margin-right: 380px;
    padding: 3px;
    border: 3px solid black;
    background-color: white;
    
    
}
.texthead{
    border: 0px solid rgba(128, 128, 128, 0.719);
    width: fit-content;
    margin: auto;
    margin-top: -62px;
    
}
.card{
    border: 3px solid rgb(155, 147, 147);
    padding: 100px 25px ;
    margin: 35px auto ;
    width: 520px;
}
.cardImg {
    width: 520px;

}
.cardName{
    font-size: 35px;
    font-family: serif;
    
}
.cardDescribe{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
    font-weight: lighter;

}

